body {
    font-size: 250%;
    font-family: "Times New Roman", serif;
}
.first {
    background-color: lightcoral;
    float:left;
    display: block;
}


div {
    height: 200px;
    width: 300px;
    background-color: lightsteelblue;
    display: inline-block;
    text-align: center;
}

.test_position {
    position: relative;
    left:200px;
    background: blue;
}